%table.stats
  %thead
    %tr
      %th.sname
      %th.hour Last Hour
      %th.day Last Day
      %th.week Last Week
      %th.month Last Month
      %th.year Last Year
      %th.all_time All time
  %tbody

    %tr.uptime
      %th.sname % Uptime
      %td.hour
      %td.day
      %td.week
      %td.month
      %td.year
      %td.all_time

    %tr.tthps
      %th.sname
        Mean Thps
        %span.note
      %td.hour
      %td.day
      %td.week
      %td.month
      %td.year
      %td.all_time

    %tr.uthps
      %th.sname
        Mean Thps
        %span.net (during uptime)
      %td.hour
      %td.day
      %td.week
      %td.month
      %td.year
      %td.all_time

    %tr.max
      %th.sname
        Max Thps
      %td.hour
      %td.day
      %td.week
      %td.month
      %td.year
      %td.all_time
