body {
  background-color: #000;
  color: #0ff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.graph {
  height: 300px;
  canvas {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.card {
  width: 25%;
  table {
    margin: auto;
  }
}
