body {
  background-color: #000;
  color: #0ff;
}

::-webkit-scrollbar {
  display: none;
}

h1, h2, .graph, .time {
  text-align: center;
}

.time {
  font-size: 48px;
}

h1 {
  font-size: 64px;
}

.section {
  padding-top: 20px;
}

table.stats {
  margin: auto;
}

canvas {
  margin: auto;
}
